<!DOCTYPE html>
{%load static%}
<html lang="en"dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static "css/require.css"%} ">

    <title>Home</title>
</head>
<body>
    <section class="one">
        <div class="container rr"><br>
            <h1>OUR REQUIREMENTS</h1>
            <form action="/">
                <input id="k" type="submit", value="Home">
            </form>
            <div class="sec">
        <div class="row ow">
            <div class="column n1">
                <h2>Software skills</h2>
            <p>Python</p>
            <p>Anoconda</p>
            <p>Vs Code</p>
            <p>Google Colab</p>
            <p>Web Browser</p>
            </div>
            <div class="column n1">
                <h2>Python Framework</h2>
            <p>Django</p><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
            <div class="column n1">
                <h2>Python libraries</h2>
            <p>Numpy</p>
            <p>Pandas</p>
            <p>Matpoltlib</p>
            <p>Seaborn</p>
            <p>Sklearn</p>
            </div>
          </div>
        </div>
        </div>
    </section>

















   
</body>
</html>